/*colores*/

$color:
/*1*/ black;
/*2*/ 


/*padding*/

$padding:
/*1*/0px,
/*2*/5px, 
/*3*/10px,
/**/20px;

/*margin*/

$margin: 
/*1*/ 0px,
/*2*/5px,
/*3*/10px,
/*4*/20px,
/*5*/50px;

$margin-carousel: 80px;
 
/*vlaores widht*/

$widht1:
/*1*/25%,
/*2*/50%,
/*3*/100%;

